#content {
    color: var(--white);
}

#my-calendar {
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
  
}

#calendar-header {
        color: var(--neon-green);
        text-align: left;
        font-size: 2rem;
        margin-bottom: 1rem;
        background-color: var(--N64-plastic);
        width: 80vw;
        margin-bottom: 0px;
        padding-bottom: 1%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        font-weight: bold;
        ;
    }

.calendar-grid {
  display: grid;
  /* background-color: var(--N64-plastic); */
  grid-template-columns: repeat(7, 1fr);
  width: 80vw;
  gap: 0px;
  
}

.calendar-day {
  border: 1px solid #ccc;
  min-height: 100px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--white);
  background-color: var(--N64-plastic);
}

.calendar-day:nth-last-child(1) {
    border-bottom-right-radius: 15px;
}

.calendar-day:nth-last-child(7) {
    border-bottom-left-radius: 15px;
}

.day-number {
    color: var(--neon-green);
    font-weight: bold;
    margin-bottom: 4px;
}

.events {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  gap: 0px;
  
}

.event {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 80%;
  height: fit-content;
}

.other-month {
  opacity: .7;
}

.calendar-row-header {
    color: white;
    text-align: center;
    background-color: var(--N64-plastic);
    width: 100%;
}

.calendar-icon {
    width: 75%;
    height: auto;
    
}


.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  /* apparently inline block is when max width applies */
  display: inline-block;
  max-width: 150px;
  width: max-content;
  white-space: normal;
  overflow-wrap: break-word;


  visibility: hidden;
  /* width: auto;
  white-space: wrap; */
  
  /* text styling */
  background-color: var(--white);
  color: black;
  text-align: center;
  font-weight: bolder;


  /* tooltip body positioning */
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8%;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}