#content {
    color: var(--white);
}

#my-calendar {
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
  
}

#calendar-header {
        color: var(--neon-green);
        text-align: left;
        font-size: 2rem;
        margin-bottom: 1rem;
        background-color: var(--N64-plastic);
        width: 80vw;
        margin-bottom: 0px;
        padding-bottom: 1%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        font-weight: bold;
      
    }

.calendar-grid {
  display: grid;
  /* background-color: var(--N64-plastic); */
  grid-template-columns: repeat(7, 1fr);
  width: 80vw;
  gap: 0px;
  
}

.calendar-day {
  border: 1px solid #ccc;
  min-height: 100px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--white);
  background-color: var(--N64-plastic);
}

.calendar-day:nth-last-child(1) {
    border-bottom-right-radius: 15px;
}

.calendar-day:nth-last-child(7) {
    border-bottom-left-radius: 15px;
}

.day-number {
    color: var(--neon-green);
    font-weight: bold;
    margin-bottom: 4px;
}

.events {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  gap: 0px;
  
}

.event {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 80%;
  height: fit-content;
}

.other-month {
  opacity: .7;
}

.calendar-row-header {
    color: white;
    text-align: center;
    background-color: var(--N64-plastic);
    width: 100%;
}

.calendar-icon {
    width: 75%;
    height: auto;
    
}

.calendar-icon:hover {
    /* border: 2px solid var(--neon-green); */
    /* border-radius: 100px; */
    cursor: pointer; 
    /* opacity: .8;  */
    border-bottom: 3px dotted var(--neon-green);
}

/* Tool tip styles */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  /* apparently inline block is when max width applies */
  display: inline-block;
  max-width: 150px;
  width: max-content;
  white-space: normal;
  overflow-wrap: break-word;
  /* height: 60px; */


  visibility: hidden;
  /* width: auto;
  white-space: wrap; */
  
  /* text styling */
  background-color: var(--white);
  color: black;
  text-align: center;
  font-weight: bolder;


  /* tooltip body positioning */
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 45%;
  transform: translateX(-50%);

  /* animation */

  /*   
  transition: max-width 2s; 
  transition: height 1s;  
  */

}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  margin-left: 0%;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext.expand {
  height: fit-content;
  max-width: 500px;
  width: 500%;
  visibility: visible;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* event time */
#event-times {
  color: black;
  font-weight: lighter;
  font-size: 16px;
  padding-bottom: 8px;
}

.event-desc {
  display: none;
  color: black;
  font-weight: lighter;
  font-size: 14px;
  text-align: justify;
}

.tooltip-button {
  display: none;
  background-color: none;
  color: var(--royal-king-purple);
  border: 2px solid var(--royal-king-purple);
  font-size: smaller;
  border-radius: 10px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.tooltip-button:hover {
  text-decoration: underline;
  border: 3px solid var(--N64-plastic);
  cursor: pointer;
  
}

.show-desc {
  display: block;
}

#left-align-tag {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 80vw;
  margin-top: 1%;

}

#full-subscription {
  color: var(--neon-green);
}

#download-png {
  color: var(--neon-green);
  cursor: pointer;
  text-decoration: underline;
  font-weight: lighter;

}

 /* ################################################################################################# */

 @media screen and (max-width: 600px) {

  .calendar-grid{
    width: 90vw;
    /* height: 50vh; */
  }

  #calendar-header {
    width: 90vw;
  }

  .calendar-day {
    min-height: 7vh;
  }

  .calendar-icon {
    display: none;
  }



 }