.hero {
    /* viewport setting */
    height: 100vh;
    width: 100%;

    /* flexbox setting */
    display: flex;
    flex-direction: column;
    /* align-items and not content because if we did content it would stretch everything in that line */
    align-items: center; 
    justify-items: center;

    /* background image */
    background-image: url('./image assets/DesktopSplash\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* use if image is unavailabe */
    /* background-color: blueviolet; */

}

.hero img {
    /* iamge sizing */
    height: 45%;
    width: auto;

    /* padding and spacing */
    padding-top: 3%;
    padding-bottom: 3%;
}

.hero h1 {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1%;
}

.hero p {
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    color: #fff;
    width: 50%;

    margin-top: 0;
}