.hero {
    /* viewport setting */
    height: 100vh;
    width: 100%;

    /* flexbox setting */
    display: flex;
    flex-direction: column;
    /* align-items and not content because if we did content it would stretch everything in that line */
    align-items: center; 
    justify-items: center;

    /* background image */
    background-image: linear-gradient(0deg, rgba(27, 2, 44, 0.6) 2%, rgba(0, 0, 0, .05) 100%), url('./image assets/DesktopSplash\ 1.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    /* use if image is unavailabe */
    /* background-color: blueviolet; */

}


.hero img {
    /* iamge sizing */
    height: 45%;
    width: auto;

    /* padding and spacing */
    padding-top: 3%;
    padding-bottom: 3%;

}

.hero h1 {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1%;
    text-align: center;
}

.hero p {
    font-size: clamp(20px, calc(1.13vw + 15.77px), 32px);
    font-weight: 100;
    text-align: center;
    color: #fff;
    width: 55%;

    margin-top: 0;
}


/* ########################################################################################################################################
########################################################################################################################################
######################################################################################################################################## */

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */

@media screen and (max-width: 600px) {

    .hero {
        background-image: linear-gradient(0deg, rgba(38, 2, 62, 0.6) 25%, rgba(0, 0, 0, .05) 100%), url('./image assets/Mobile\ Background\ Splash.png');
    }

    .hero p {
        width: 90%;
    }

    .hero img {
        width: 85%;
        height: auto;
        padding-top: 15%;
        padding-bottom: 16px;
    }
}