/* ########################################## SECTION 1: CHECK OUT SOME OF THE GAMES ##################################################*/


section {
    /* flex box dimensions */
    display: flex;
    align-items: center;
    flex-direction: column;

    /* spaceing between each section */
    margin-bottom: 7%;
}

section h2 {
    font-size: clamp(24px, calc(2.25vw + 15.55px), 48px);
    text-align: center;
    color: var(--neon-green);
    margin-bottom: 0;
}

section p {
    text-align: center;
    font-size: clamp(16px, calc(0.8vw + 13px), 24px);
    color: var(--white);
}

.section-1-image {
    width: 20%;
    height: auto;

}

/* game tile */
#section-1 table {
    border: 2px solid transparent;
    border-collapse: separate;
    border-spacing: 4px;
    width: 19%;

    /* aspect ratio here is keeping us sqaure */
    aspect-ratio: 1/.7;
}

#section-1 td {
    background-color: var(--N64-plastic);
    padding: 3%;
}

#section-1 td img {
    width: 100%;
}

/* ########################################## SECTION 2: BIG EVENT OF THE MONTH ##################################################*/

#section-2 {
    /* put the entire section in a new flexbox and hike all of its contents to the top */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

/* image side */
#section-2 .section-2-left {
    /* put the left side in its own flexbox */
    display: flex;
    flex-direction: column;
    width: 50%;

    /* put items in the center of the flexbox */
    justify-content: center;
    align-items: center;
}

#section-2 .section-2-left figcaption {
    font-size: clamp(8px, 1vw, 12px);
    margin-left: 80%;
    color: var(--white);
    text-align: left;
    width: 100%;
    
}

/* image dimensions */
#section-2 img{
    height: 70vh;
    width: auto;
    padding-left: 25%;
}

/* text side */
#section-2 .section-2-right {
    /* put the text side in a new flex box */
    display: flex;
    flex-direction: column;
    width: 50%;
    /* hike it to the top */
    justify-content: flex-start;
    align-items:flex-start;

}

#section-2 .section-2-right h2{
    text-align: left;
    text-justify: center;
    width: 40vw;

    /* padding and margins */
    margin-top: 0;
    margin-bottom: 0;
}

#section-2 .section-2-right p{
    text-align: justify;
    width: 37vw;
    padding-right: 20%;

    /* padding and margin */
    margin-bottom: 7%;
}

/* button ingerting other styles and props from style.css */
#section-2 .section-2-right button{
    margin-left: 23%;
}

/* button hover state - alternate states piggy back off of the old one*/ 
#section-2 .section-2-right button:hover{
    /* color */
    border: 5px solid var(--neon-green);
}


/* ########################################## SECTION 3: OTHER BIG EVENTS THIS MONTH ##################################################*/

#section-3 {

}

#section-3 table {
    border: 2px solid transparent;
    border-collapse: separate;
    border-spacing: 4px;
    width: 55%;

    /* this works for some reason here */
    height: 50px;

    /* aspect-ratio: 1/.5; */
}

#section-3 td {
    background-color: var(--N64-plastic);
    color: var(--white);
    padding: 3%;
    text-align: center;
    vertical-align: top;

    padding: 2%;
    
}

#section-3 td button{
    font-size: 100%;
    text-align: center;
    font-size: clamp(8px, 1.3vw, 28px);
    padding-top: 10px;
    padding-bottom: 10px;


    width: 100%;
    max-width: 173px;
    height: auto;

    /*  */
    box-sizing: border-box;
}

#month-text {
    font-size: clamp(8px, 1.5vw, 30px);
}

#day-text {
    font-size: clamp(12px, 3vw, 65px);
    font-weight: bolder;
}

#event-title {
    font-size: clamp(15px, 1.5vw, 30px);
    font-weight: bolder;
}

#event-description {
    font-size: clamp(12px, 1.5vw, 20px);
    font-weight: lighter;
}

/* ########################################## SECTION 4: YOU ON CUZ WE ARE ##################################################*/

.image-container {
  position: relative;        
  display: inline-block;     
}

.image-container img {
  display: block;            
  width: 100%;               
  height: auto;
}

.overlay-text {
  position: absolute;        
  top: 50%;                  
  left: 20%;  
  padding-bottom: 10%;                
  
  /* ensure it sits above the img */
  /* z-index: 1; */
}

.spacer {
    height: 100%;
    margin-bottom: 100px;
}

#section-4 table {
    border: 2px solid transparent;
    border-collapse: separate;
    border-spacing: 4px;
    aspect-ratio: 1/1;

}

#section-4 td {
    background-color: transparent;
    padding: 0px;
}

/* ########################################## SECTION 5: BUS WALK MAN ##################################################*/

#section-5 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#section-5 img {
    width: 30%;
    height: auto;

}

#section-5-image-block {
    position: relative;

}

#section-5-text-block {
    left: 48%;
    padding-left: 1%;
}

#section-5-text-1{
    font-size: clamp(12px, 2vw, 32px);
    text-decoration: underline;
    text-align: left;
}

#section-5-text-2 {
    font-size: 12px;
    text-align: left;
    color: grey;
    padding-left: 1%;
}


/* ########################################################################################################################################
########################################################################################################################################
######################################################################################################################################## */

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */

@media screen and (max-width: 600px) {
    .section-1-image {
        width: 90%;
        height: auto;
    }

    #section-1 table {
    border-spacing: 2px;
    width: 85%;

    /* aspect ratio here is keeping us sqaure */
    aspect-ratio: 1/.7;
}

    #section-2 {
        flex-direction: column;
        align-items: center;
}

/* even though we break this out later with display contents, it has to be manipulated before hand */
    #section-2 .section-2-right p{
        width: 80vw;
        padding: 0;

}

    #section-2 .section-2-right h2{
        width: 80vw;
        margin-bottom: 8px;
        text-align: center;
    }

    #section-2 .section-2-right button{
        margin: 0;
    }

    #section-2 .section-2-left figcaption {
        margin-bottom: 16px;
        text-align: left;
        margin-right: 0;
        margin-left: 0;
        width: 75%;
    }

/* breaks out my contents and promotes it to section 2 */
    #section-2 .section-2-right {
        display: contents;
}

    #section-2 h2 {
        order: 1;
       

    }
    #section-2 p {
        order: 2;
    }

    #section-2 .section-2-left {
        order: 3;
        padding: 0;
        width: 100%;
        
    }

    #section-2 img{
        padding: 0;
        width: 100%;
    }



    #section-2 button {order: 4}


}