/* design system variables */
:root {
    /* colors */
    --neon-green:  #9BFF00;
    --royal-king-purple: #2C004B;
    --N64-plastic: #7B1574;
    --Laser-Purple: #AB00FF;
    --white: #ffffff;
}

* {
 font-family: "Chakra Petch", sans-serif;
}

html {
    /* background image */
    background-image: url('./image assets/DesktopBackground\ 4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* load this color if background image unavailable */
    background-color: var();
}

h1 {
    /* only used on hero */
    font-size: clamp(32px, calc(3vw + 21px), 64px);
    color: var(--neon-green);
}

/* button */
button{
    /* dimensions */
    width: 200px;
    height: 50px;

    /* color */
    background-color: transparent;
    border: 5px solid var(--Laser-Purple);

    /* font */
    color: var(--neon-green);
    font-size: 20px;
    font-weight: bolder;
}

/* button hover state - alternate states piggy back off of the old one*/ 
button:hover{
    /* color */
    border: 5px solid var(--neon-green);
    
}
